.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 50%;
}

.label {
    font-size: 1rem;
    padding: 1rem;
    color: #000;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.selectlist {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #6392f8;
    color: #000;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    justify-content: center;
}



.listtext {
    font-size: 1rem;
    padding: 1rem;
    background-color: #6392f8;
    color: #000;
    font-weight: normal;
    text-align: center;
}